In [1]:
#Import Dependencies
import pandas as pd
import requests
import json
import time
import numpy as np

In [2]:
#Query API and Convert to DataFrame

#Read csv with proper encoding
path = "U.S. Released Movies_ 1972-2016.csv"
movies = pd.read_csv(path, encoding='latin1')
movies.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0110912,4/23/2013,4/23/2013,NaN,Pulp Fiction,https://www.imdb.com/title/tt0110912/,movie,8.9,154.0,1994.0,"Crime, Drama",1607823.0,5/21/1994,Quentin Tarantino
1,2,tt1872181,4/23/2013,4/23/2013,NaN,The Amazing Spider-Man 2,https://www.imdb.com/title/tt1872181/,movie,6.6,142.0,2014.0,"Action, Adventure, Sci-Fi",381550.0,4/10/2014,Marc Webb
2,3,tt0111161,4/23/2013,4/23/2013,NaN,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,movie,9.3,142.0,1994.0,Drama,2057262.0,9/10/1994,Frank Darabont
3,4,tt0076759,4/23/2013,4/23/2013,NaN,Star Wars,https://www.imdb.com/title/tt0076759/,movie,8.6,121.0,1977.0,"Action, Adventure, Fantasy, Sci-Fi",1102354.0,5/25/1977,George Lucas
4,5,tt0088763,4/23/2013,4/23/2013,NaN,Back to the Future,https://www.imdb.com/title/tt0088763/,movie,8.5,116.0,1985.0,"Adventure, Comedy, Sci-Fi",915281.0,7/3/1985,Robert Zemeckis

In [3]:
#Extract relevant columns
movies = movies[['Const', 'Title', 'Runtime (mins)', 'Year', 'Genres', 'Release Date', 'IMDb Rating']]
movies.head()

,Const,Title,Runtime (mins),Year,Genres,Release Date,IMDb Rating
0,tt0110912,Pulp Fiction,154.0,1994.0,"Crime, Drama",5/21/1994,8.9
1,tt1872181,The Amazing Spider-Man 2,142.0,2014.0,"Action, Adventure, Sci-Fi",4/10/2014,6.6
2,tt0111161,The Shawshank Redemption,142.0,1994.0,Drama,9/10/1994,9.3
3,tt0076759,Star Wars,121.0,1977.0,"Action, Adventure, Fantasy, Sci-Fi",5/25/1977,8.6
4,tt0088763,Back to the Future,116.0,1985.0,"Adventure, Comedy, Sci-Fi",7/3/1985,8.5

In [4]:
#Rename Columns
movies = movies.rename(columns= {'Const': 'IMDb ID'})
movies.head()

,IMDb ID,Title,Runtime (mins),Year,Genres,Release Date,IMDb Rating
0,tt0110912,Pulp Fiction,154.0,1994.0,"Crime, Drama",5/21/1994,8.9
1,tt1872181,The Amazing Spider-Man 2,142.0,2014.0,"Action, Adventure, Sci-Fi",4/10/2014,6.6
2,tt0111161,The Shawshank Redemption,142.0,1994.0,Drama,9/10/1994,9.3
3,tt0076759,Star Wars,121.0,1977.0,"Action, Adventure, Fantasy, Sci-Fi",5/25/1977,8.6
4,tt0088763,Back to the Future,116.0,1985.0,"Adventure, Comedy, Sci-Fi",7/3/1985,8.5

In [5]:
#Drop rows with incomplete data
movies = movies.dropna()

#Exract rows from years 2010 and later
movies = movies[movies.iloc[:,3] >= 2010]
movies = movies.set_index(['IMDb ID'])
movies.head()

,Title,Runtime (mins),Year,Genres,Release Date,IMDb Rating
IMDb ID,,,,,,
tt1872181,The Amazing Spider-Man 2,142.0,2014.0,"Action, Adventure, Sci-Fi",4/10/2014,6.6
tt1323594,Despicable Me,95.0,2010.0,"Animation, Comedy, Family, Fantasy",6/20/2010,7.7
tt1375670,Grown Ups,102.0,2010.0,Comedy,6/24/2010,6.0
tt0892769,How to Train Your Dragon,98.0,2010.0,"Animation, Action, Adventure, Family, Fantasy",3/18/2010,8.1
tt1375666,Inception,148.0,2010.0,"Action, Adventure, Sci-Fi, Thriller",7/8/2010,8.8

In [6]:
#Change Year and Runtime to integers
movies[['Year','Runtime (mins)']] = movies[['Year','Runtime (mins)']].applymap(np.int64)
movies.head()

,Title,Runtime (mins),Year,Genres,Release Date,IMDb Rating
IMDb ID,,,,,,
tt1872181,The Amazing Spider-Man 2,142,2014,"Action, Adventure, Sci-Fi",4/10/2014,6.6
tt1323594,Despicable Me,95,2010,"Animation, Comedy, Family, Fantasy",6/20/2010,7.7
tt1375670,Grown Ups,102,2010,Comedy,6/24/2010,6.0
tt0892769,How to Train Your Dragon,98,2010,"Animation, Action, Adventure, Family, Fantasy",3/18/2010,8.1
tt1375666,Inception,148,2010,"Action, Adventure, Sci-Fi, Thriller",7/8/2010,8.8

In [7]:
# Pull: Rating, Metascore, and BoxOffice from omdb
movies['Metascore'] = ''
movies['Rating'] = ''
movies['Box Office'] = ''
count=0

movies.head()

,Title,Runtime (mins),Year,Genres,Release Date,IMDb Rating,Metascore,Rating,Box Office
IMDb ID,,,,,,,,,
tt1872181,The Amazing Spider-Man 2,142,2014,"Action, Adventure, Sci-Fi",4/10/2014,6.6,,,
tt1323594,Despicable Me,95,2010,"Animation, Comedy, Family, Fantasy",6/20/2010,7.7,,,
tt1375670,Grown Ups,102,2010,Comedy,6/24/2010,6.0,,,
tt0892769,How to Train Your Dragon,98,2010,"Animation, Action, Adventure, Family, Fantasy",3/18/2010,8.1,,,
tt1375666,Inception,148,2010,"Action, Adventure, Sci-Fi, Thriller",7/8/2010,8.8,,,

In [ ]:
for imdb in movies.index:
    try:
        count += 1
        url = 'http://www.omdbapi.com/?i={0}&apikey=trilogy'.format(imdb)
        results = requests.get(url).json()
        movies.loc[imdb,'Rating'] = results['Rated']
        movies.loc[imdb,'Metascore'] = results['Metascore']
        movies.loc[imdb,'Box Office'] = results['BoxOffice']
        print(f'{imdb} processed: {count} / {len(movies.index)}')
        time.sleep(.1)
    except:
        print(f'Error processing {imdb}, skipping: {count} / {len(movies.index)}')

tt1872181 processed: 1 / 1562
tt1323594 processed: 2 / 1562
tt1375670 processed: 3 / 1562
tt0892769 processed: 4 / 1562
tt1375666 processed: 5 / 1562
tt1228705 processed: 6 / 1562
tt1250777 processed: 7 / 1562
tt1245526 processed: 8 / 1562
tt1130884 processed: 9 / 1562
tt1104001 processed: 10 / 1562
tt0435761 processed: 11 / 1562
tt0780504 processed: 12 / 1562
tt1596343 processed: 13 / 1562
tt1201607 processed: 14 / 1562
tt1219289 processed: 15 / 1562
tt1298650 processed: 16 / 1562
tt1270798 processed: 17 / 1562
tt1568346 processed: 18 / 1562
tt1454029 processed: 19 / 1562
tt1637688 processed: 20 / 1562
tt1232829 processed: 21 / 1562
tt0948470 processed: 22 / 1562
tt1605630 processed: 23 / 1562
tt0848228 processed: 24 / 1562
tt1440129 processed: 25 / 1562
tt1194173 processed: 26 / 1562
tt1217209 processed: 27 / 1562
tt1259521 processed: 28 / 1562
tt1790886 processed: 29 / 1562
tt1371111 processed: 30 / 1562
tt1345836 processed: 31 / 1562
tt1077368 processed: 32 / 1562
tt1853728 processed: 33 / 1562
tt1343727 processed: 34 / 1562
tt1855199 processed: 35 / 1562
tt1764651 processed: 36 / 1562
tt1907668 processed: 37 / 1562
tt1694020 processed: 38 / 1562
tt1648179 processed: 39 / 1562
tt0903624 processed: 40 / 1562
tt0837562 processed: 41 / 1562
tt0790724 processed: 42 / 1562
tt0401729 processed: 43 / 1562
tt1764234 processed: 44 / 1562
tt1212450 processed: 45 / 1562
tt0454876 processed: 46 / 1562
tt1276104 processed: 47 / 1562
tt1915581 processed: 48 / 1562
tt1568338 processed: 49 / 1562
tt1258972 processed: 50 / 1562
tt1560747 processed: 51 / 1562
tt1409024 processed: 52 / 1562
tt1047540 processed: 53 / 1562
tt1636826 processed: 54 / 1562
tt1446714 processed: 55 / 1562
tt1234719 processed: 56 / 1562
tt1446192 processed: 57 / 1562
tt1615065 processed: 58 / 1562
tt1931533 processed: 59 / 1562
tt1922777 processed: 60 / 1562
tt1074638 processed: 61 / 1562
tt1735898 processed: 62 / 1562
tt1397280 processed: 63 / 1562
tt1637725 processed: 64 / 1562
tt1232200 processed: 65 / 1562
tt1758830 processed: 66 / 1562
tt1386703 processed: 67 / 1562
tt2091473 processed: 68 / 1562
tt1772341 processed: 69 / 1562
tt1351685 processed: 70 / 1562
tt1623205 processed: 71 / 1562
tt1606378 processed: 72 / 1562
tt1924429 processed: 73 / 1562
tt2053463 processed: 74 / 1562
tt2101441 processed: 75 / 1562
tt0790628 processed: 76 / 1562
tt1433811 processed: 77 / 1562
tt1935179 processed: 78 / 1562
tt1381404 processed: 79 / 1562
tt2302755 processed: 80 / 1562
tt1817273 processed: 81 / 1562
tt1583421 processed: 82 / 1562
tt0481499 processed: 83 / 1562
tt2243537 processed: 84 / 1562
tt0816711 processed: 85 / 1562
tt1483013 processed: 86 / 1562
tt1731141 processed: 87 / 1562
tt1170358 processed: 88 / 1562
tt0770828 processed: 89 / 1562
tt1663662 processed: 90 / 1562
tt1951264 processed: 91 / 1562
tt1210819 processed: 92 / 1562
tt1430132 processed: 93 / 1562
tt1535108 processed: 94 / 1562
tt1815862 processed: 95 / 1562
tt1300854 processed: 96 / 1562
tt1245492 processed: 97 / 1562
tt0790736 processed: 98 / 1562
tt1981115 processed: 99 / 1562
tt1408101 processed: 100 / 1562
tt1670345 processed: 101 / 1562
tt1951261 processed: 102 / 1562
tt1650554 processed: 103 / 1562
tt1731697 processed: 104 / 1562
tt1034314 processed: 105 / 1562
tt1649419 processed: 106 / 1562
tt1869425 processed: 107 / 1562
tt2099556 processed: 108 / 1562
tt1781769 processed: 109 / 1562
tt2088923 processed: 110 / 1562
tt2092011 processed: 111 / 1562
tt1389096 processed: 112 / 1562
tt1838475 processed: 113 / 1562
tt1230215 processed: 114 / 1562
tt2066176 processed: 115 / 1562
tt1934458 processed: 116 / 1562
tt1867086 processed: 117 / 1562
tt0453562 processed: 118 / 1562
tt1288558 processed: 119 / 1562
tt0795461 processed: 120 / 1562
tt1235522 processed: 121 / 1562
tt1321870 processed: 122 / 1562
tt1905041 processed: 123 / 1562
tt1980209 processed: 124 / 1562
tt1659338 processed: 125 / 1562
tt2023587 processed: 126 / 1562
tt1551630 processed: 127 / 1562
tt1253863 processed: 128 / 1562
tt2070862 processed: 129 / 1562
tt1727388 processed: 130 / 1562
tt2191701 processed: 131 / 1562
tt2387433 processed: 132 / 1562
tt1502417 processed: 133 / 1562
tt1854564 processed: 134 / 1562
tt2132285 processed: 135 / 1562
tt2024432 processed: 136 / 1562
tt1931435 processed: 137 / 1562
tt1684233 processed: 138 / 1562
tt1602613 processed: 139 / 1562
tt2675318 processed: 140 / 1562
tt1333125 processed: 141 / 1562
tt1457765 processed: 142 / 1562
tt1911644 processed: 143 / 1562
tt2093977 processed: 144 / 1562
tt1428538 processed: 145 / 1562
tt2184339 processed: 146 / 1562
tt0882977 processed: 147 / 1562
tt0429493 processed: 148 / 1562
tt1014759 processed: 149 / 1562
tt0947798 processed: 150 / 1562
tt1037705 processed: 151 / 1562
tt0800320 processed: 152 / 1562
tt1231583 processed: 153 / 1562
tt1320253 processed: 154 / 1562
tt1226229 processed: 155 / 1562
tt0926084 processed: 156 / 1562
tt1386588 processed: 157 / 1562
tt0814255 processed: 158 / 1562
tt0955308 processed: 159 / 1562
tt0944835 processed: 160 / 1562
tt0840361 processed: 161 / 1562
tt1284575 processed: 162 / 1562
tt1217613 processed: 163 / 1562
tt1216475 processed: 164 / 1562
tt1488555 processed: 165 / 1562
tt0409847 processed: 166 / 1562
tt1133985 processed: 167 / 1562
tt1411697 processed: 168 / 1562
tt1499658 processed: 169 / 1562
tt1464540 processed: 170 / 1562
tt1092026 processed: 171 / 1562
tt1436562 processed: 172 / 1562
tt1318514 processed: 173 / 1562
tt1262416 processed: 174 / 1562
tt0945513 processed: 175 / 1562
tt0978764 processed: 176 / 1562
tt1306980 processed: 177 / 1562
tt1598778 processed: 178 / 1562
tt1033575 processed: 179 / 1562
tt1124035 processed: 180 / 1562
tt1253864 processed: 181 / 1562
tt0433035 processed: 182 / 1562
tt1515091 processed: 183 / 1562
tt1340800 processed: 184 / 1562
tt1389137 processed: 185 / 1562
tt1611224 processed: 186 / 1562
tt1712170 processed: 187 / 1562
tt1629757 processed: 188 / 1562
tt1991245 processed: 189 / 1562
tt1706593 processed: 190 / 1562
tt1748227 processed: 191 / 1562
tt1524137 processed: 192 / 1562
tt1645170 processed: 193 / 1562
tt1663143 processed: 194 / 1562
tt1601913 processed: 195 / 1562
tt1506999 processed: 196 / 1562
tt1582507 processed: 197 / 1562
tt1667889 processed: 198 / 1562
tt1592525 processed: 199 / 1562
tt1482459 processed: 200 / 1562
tt1277953 processed: 201 / 1562
tt1462769 processed: 202 / 1562
tt1623288 processed: 203 / 1562
tt1547234 processed: 204 / 1562
tt1486192 processed: 205 / 1562
tt1855325 processed: 206 / 1562
tt1599348 processed: 207 / 1562
tt0938330 processed: 208 / 1562
tt1655460 processed: 209 / 1562
tt1298649 processed: 210 / 1562
tt1646987 processed: 211 / 1562
tt1549920 processed: 212 / 1562
tt1706620 processed: 213 / 1562
tt1682180 processed: 214 / 1562
tt1453405 processed: 215 / 1562
tt1939659 processed: 216 / 1562
tt1690953 processed: 217 / 1562
tt1229340 processed: 218 / 1562
tt2334879 processed: 219 / 1562
tt1411250 processed: 220 / 1562
tt1321511 processed: 221 / 1562
tt1038693 processed: 222 / 1562
tt1656186 processed: 223 / 1562
tt2125435 processed: 224 / 1562
tt1667310 processed: 225 / 1562
tt0337692 processed: 226 / 1562
tt1496422 processed: 227 / 1562
tt1658837 processed: 228 / 1562
tt1783732 processed: 229 / 1562
tt1836808 processed: 230 / 1562
tt1687901 processed: 231 / 1562
tt1723811 processed: 232 / 1562
tt1412386 processed: 233 / 1562
tt1959490 processed: 234 / 1562
tt2015381 processed: 235 / 1562
tt1291150 processed: 236 / 1562
tt2333784 processed: 237 / 1562
tt2083231 processed: 238 / 1562
tt2101341 processed: 239 / 1562
tt0458481 processed: 240 / 1562
tt1711425 processed: 241 / 1562
tt1904996 processed: 242 / 1562
tt2461340 processed: 243 / 1562
tt0765446 processed: 244 / 1562
tt1817276 processed: 245 / 1562
tt2234155 processed: 246 / 1562
tt0848537 processed: 247 / 1562
tt2412746 processed: 248 / 1562
tt1155076 processed: 249 / 1562
tt1013743 processed: 250 / 1562
tt0938283 processed: 251 / 1562
tt1001526 processed: 252 / 1562
tt1424381 processed: 253 / 1562
tt0892791 processed: 254 / 1562
tt0477080 processed: 255 / 1562
tt1502404 processed: 256 / 1562
tt0990407 processed: 257 / 1562
tt0993842 processed: 258 / 1562
tt1591095 processed: 259 / 1562
tt1302011 processed: 260 / 1562

tt1486185 processed: 261 / 1562
tt1401152 processed: 262 / 1562
tt1240982 processed: 263 / 1562
tt1657507 processed: 264 / 1562
tt0477302 processed: 265 / 1562
tt1448755 processed: 266 / 1562
tt1204342 processed: 267 / 1562
tt0448694 processed: 268 / 1562
tt0471042 processed: 269 / 1562
tt1568911 processed: 270 / 1562
tt1591479 processed: 271 / 1562
tt1366365 processed: 272 / 1562
tt1142977 processed: 273 / 1562
tt1838544 processed: 274 / 1562
tt1397514 processed: 275 / 1562
tt1327194 processed: 276 / 1562
tt1667353 processed: 277 / 1562
tt2109184 processed: 278 / 1562
tt0431021 processed: 279 / 1562
tt1899353 processed: 280 / 1562
tt2083383 processed: 281 / 1562
tt1496025 processed: 282 / 1562
tt1596365 processed: 283 / 1562
tt1959332 processed: 284 / 1562
tt1213663 processed: 285 / 1562
tt1645155 processed: 286 / 1562
tt1132449 processed: 287 / 1562
tt1990314 processed: 288 / 1562
tt1999995 processed: 289 / 1562
tt1308729 processed: 290 / 1562
tt0404978 processed: 291 / 1562
tt1748179 processed: 292 / 1562
tt1764183 processed: 293 / 1562
tt1836944 processed: 294 / 1562
tt0478304 processed: 295 / 1562
tt1726669 processed: 296 / 1562
tt1399683 processed: 297 / 1562
tt0816692 processed: 298 / 1562
tt0831387 processed: 299 / 1562
tt2209418 processed: 300 / 1562
tt2404463 processed: 301 / 1562
tt1457767 processed: 302 / 1562
tt0980970 processed: 303 / 1562
tt1196141 processed: 304 / 1562
tt1433108 processed: 305 / 1562
tt1231587 processed: 306 / 1562
tt0970866 processed: 307 / 1562
tt0985694 processed: 308 / 1562
tt0464154 processed: 309 / 1562
tt1220634 processed: 310 / 1562
tt0963966 processed: 311 / 1562
tt1411704 processed: 312 / 1562
tt0472399 processed: 313 / 1562
tt0822847 processed: 314 / 1562
tt0472181 processed: 315 / 1562
tt1622547 processed: 316 / 1562
tt1093357 processed: 317 / 1562
tt1438176 processed: 318 / 1562
tt1402488 processed: 319 / 1562
tt1366344 processed: 320 / 1562
tt0905372 processed: 321 / 1562
tt1071875 processed: 322 / 1562
tt1716777 processed: 323 / 1562
tt1430626 processed: 324 / 1562
tt0383010 processed: 325 / 1562
tt2084989 processed: 326 / 1562
tt1247690 processed: 327 / 1562
tt2023690 processed: 328 / 1562
tt1714203 processed: 329 / 1562
tt1480656 processed: 330 / 1562
tt1924394 processed: 331 / 1562
tt1488181 processed: 332 / 1562
tt1713476 processed: 333 / 1562
tt1132285 processed: 334 / 1562
tt1766094 processed: 335 / 1562
tt1441951 processed: 336 / 1562
tt1872818 processed: 337 / 1562
tt0857190 processed: 338 / 1562
tt1567609 processed: 339 / 1562
tt1989485 processed: 340 / 1562
tt2375779 processed: 341 / 1562
tt1770734 processed: 342 / 1562
tt0847825 processed: 343 / 1562
tt1242460 processed: 344 / 1562
tt1205558 processed: 345 / 1562
tt1440345 processed: 346 / 1562
tt1549572 processed: 347 / 1562
tt1527186 processed: 348 / 1562
tt1465522 processed: 349 / 1562
tt2310332 processed: 350 / 1562
tt1790864 processed: 351 / 1562
tt1234721 processed: 352 / 1562
tt1821694 processed: 353 / 1562
tt1340803 processed: 354 / 1562
tt1440728 processed: 355 / 1562
tt0947810 processed: 356 / 1562
tt0842926 processed: 357 / 1562
tt1038686 processed: 358 / 1562
tt1228987 processed: 359 / 1562
tt0892318 processed: 360 / 1562
tt1179056 processed: 361 / 1562
tt1027718 processed: 362 / 1562
tt1637706 processed: 363 / 1562
tt1622979 processed: 364 / 1562
tt0810913 processed: 365 / 1562
tt1634122 processed: 366 / 1562
tt1268799 processed: 367 / 1562
tt1433822 processed: 368 / 1562
tt1792647 processed: 369 / 1562
tt1876451 processed: 370 / 1562
tt2042568 processed: 371 / 1562
tt1424310 processed: 372 / 1562
tt1865573 processed: 373 / 1562
tt2083379 processed: 374 / 1562
tt1831806 processed: 375 / 1562
tt1272886 processed: 376 / 1562
tt2063781 processed: 377 / 1562
tt1791614 processed: 378 / 1562
tt1297919 processed: 379 / 1562
tt1349451 processed: 380 / 1562
tt1692486 processed: 381 / 1562
tt1594562 processed: 382 / 1562
tt1704573 processed: 383 / 1562
tt1716772 processed: 384 / 1562
tt1372686 processed: 385 / 1562
tt1865567 processed: 386 / 1562
tt1535616 processed: 387 / 1562
tt1456941 processed: 388 / 1562
tt0914863 processed: 389 / 1562
tt1242432 processed: 390 / 1562
tt1345772 processed: 391 / 1562
tt1617661 processed: 392 / 1562
tt1038919 processed: 393 / 1562
tt1385867 processed: 394 / 1562
tt0455407 processed: 395 / 1562
tt1314655 processed: 396 / 1562
tt0427152 processed: 397 / 1562
tt1179034 processed: 398 / 1562
tt1139328 processed: 399 / 1562
tt1320261 processed: 400 / 1562
tt1212419 processed: 401 / 1562
tt1103153 processed: 402 / 1562
tt1294226 processed: 403 / 1562
tt1219342 processed: 404 / 1562
tt0480255 processed: 405 / 1562
tt1470023 processed: 406 / 1562
tt1053424 processed: 407 / 1562
tt1564585 processed: 408 / 1562
tt1135084 processed: 409 / 1562
tt1185416 processed: 410 / 1562
tt1226753 processed: 411 / 1562
tt1578275 processed: 412 / 1562
tt1034389 processed: 413 / 1562
tt1396218 processed: 414 / 1562
tt1430607 processed: 415 / 1562
tt1053810 processed: 416 / 1562
tt1462041 processed: 417 / 1562
tt1985017 processed: 418 / 1562
tt1568921 processed: 419 / 1562
tt0763831 processed: 420 / 1562
tt2103217 processed: 421 / 1562
tt1869716 processed: 422 / 1562
tt1454468 processed: 423 / 1562
tt1996264 processed: 424 / 1562
tt1734433 processed: 425 / 1562
tt1606339 processed: 426 / 1562
tt1935896 processed: 427 / 1562
tt1545106 processed: 428 / 1562
tt1764625 processed: 429 / 1562
tt1226240 processed: 430 / 1562
tt1598873 processed: 431 / 1562
tt2040560 processed: 432 / 1562
tt2231554 processed: 433 / 1562
tt0873886 processed: 434 / 1562
tt1588398 processed: 435 / 1562
tt1214962 processed: 436 / 1562
tt1646980 processed: 437 / 1562
tt1675192 processed: 438 / 1562
tt1674784 processed: 439 / 1562
tt1439572 processed: 440 / 1562
tt1172991 processed: 441 / 1562
tt0798817 processed: 442 / 1562
tt0817177 processed: 443 / 1562
tt1107319 processed: 444 / 1562
tt1532503 processed: 445 / 1562
tt1587310 processed: 446 / 1562
tt1267297 processed: 447 / 1562
tt1226273 processed: 448 / 1562
tt1322312 processed: 449 / 1562
tt1320244 processed: 450 / 1562
tt1216492 processed: 451 / 1562
tt1536044 processed: 452 / 1562
tt0780653 processed: 453 / 1562
tt1334512 processed: 454 / 1562
tt1583420 processed: 455 / 1562
tt1067774 processed: 456 / 1562
tt1161864 processed: 457 / 1562
tt1265990 processed: 458 / 1562
tt0881320 processed: 459 / 1562
tt0479997 processed: 460 / 1562
tt1615918 processed: 461 / 1562
tt1772240 processed: 462 / 1562
tt1564349 processed: 463 / 1562
tt0999913 processed: 464 / 1562
tt1430615 processed: 465 / 1562
tt2023453 processed: 466 / 1562
tt1837709 processed: 467 / 1562
tt1217213 processed: 468 / 1562
tt1984153 processed: 469 / 1562
tt2082415 processed: 470 / 1562
tt1757746 processed: 471 / 1562
tt1829012 processed: 472 / 1562
tt1362058 processed: 473 / 1562
tt1659343 processed: 474 / 1562
tt2126362 processed: 475 / 1562

In [ ]:
movies

In [ ]:
#Clean df
movies = movies.dropna()
movies = movies[~movies['Box Office'].str.contains("N/A")]
movies = movies[~movies['Rating'].str.contains("N/A")]
movies = movies[~movies['Metascore'].str.contains("N/A")]

movies

In [ ]:
#Convert Box Office column to int
movies['Box Office'] = movies[movies.columns[8:]].replace('[\$,]', '', regex=True).astype(float)
movies['Box Office'] = movies['Box Office'].astype(int)
movies

In [ ]:
# Save Data to csv
movies.to_csv("Movie_Data.csv")

In [ ]:
#Critics Ratings

#subquery

#Statistical differnece? 2 sample T-test

#Scatterplots to visualize correlation

#test for significance - Linear Regression

In [ ]:
#Genres

#Paredo bar Chart to identify top Genres

#Plot changes over time with a Line graph

In [ ]:
#MPAA Rating

#Paredo bar Chart

In [ ]:
#Runtime

#Scatterplot

#test for significance